
.root {
    -fx-background-color: white;
}

.nav-container {
    -fx-border-color: transparent lightgray transparent transparent;
    -fx-border-width: 1px;
}

.app-bar {
    -fx-border-color: transparent transparent lightgray transparent;
    -fx-border-width: 1px;
    -fx-padding: 0 0 0 16px;
}

.title-label {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.app-bar-label {
    -fx-font-size: 18;
}

.nav-button {
    -fx-background-color: white;
    -fx-padding: 8px 0 8px 0;
}

.nav-button:hover {
    -fx-background-color: rgba(21, 101, 192, 0.06);
    -fx-text-fill: #1565c0;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.nav-button:focused {
    -fx-background-color: rgba(21, 101, 192, 0.21);
    -fx-font-weight: bold;
}

.nav-button:disabled{
    -fx-background-color: rgba(21, 101, 192, 0.21);
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-opacity: 1.0;
}


.material-button {
    -fx-background-color: #1565c0;
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.1), 10, 0.3 , 0, 2);
}

.material-button:hover {
    -fx-background-color: #1589ee;
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.1), 15, 0.3 , 0, 6);
    -fx-cursor: hand;
}

.material-button:pressed {
    -fx-background-color: #1554a9;
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.2), 6, 0.6 , 0, 1)
}

.tile-title, .tile-title > * {
    -fx-font-size: 14px;
}
.tile-subtitle, .tile-subtitle > *{
    -fx-text-fill: gray;
    -fx-font-size: 12px;
}

.error-message {
    -fx-text-fill: red;
}